@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Store</h1>
    <p class="lead"></p>
    <p><a href="~/Views/Songs/Index.cshtml" class="btn btn-primary btn-lg">Sign Up &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Songs</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="~/Songs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Authors</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/Authors/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Albums</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/Albums/">Learn more &raquo;</a></p>
    </div>
</div>